.banner_credentials {
	padding-bottom: 0;
	background-color: $light-blue_20;
	margin-top: 60px; 
}

.banner_credentials__description_txt {
	padding-top: 30px;
}

.credentials {
	padding-bottom: 0 !important;
}

.credential_item {
	width: 100%;
	height: 150px;
	padding: 30px 0 30px;
	float: left;
	text-align: center;
	position: relative;
}

.credential_img img {
	width: auto;
	max-height: 80px;
	display: inline-block;
}

.credential_img > div {
	float: left;
}

/*_________Responsive_______*/


@media (max-width: 550px) {

	.credential_item {
		height: 110px;
	}

	.credential_img img {
		width: auto;
		max-height: 60px;
		display: inline-block;
	}

	.credential_img {
		margin-bottom: 40px; 
	}

}
