/*_______Base________*/

body {
  background-color: $beige-grey;
  font-family: 'Open Sans', sans-serif;
}

a:hover,
a:focus {
	text-decoration: none;
}

.section {
	padding-bottom: 60px;
	margin: 0 auto;
}

div #content {
  max-width: 1360px;
  padding-left: 0;
  padding-right: 0;
  min-height: 61vh;
}

footer {
	max-width: 1360px !important;
  margin: 0 auto;
}

hr {
	color: $ultra-light-warmgrey;
	background-color: $ultra-light-warmgrey;
}

.entry-title {
	display: none;
}

.wrapper {
	padding-top: 0;
	padding-bottom: 0;
}

.content-column,
.section,
.page-child #content,
.single-termin #content,
.home .container-fluid {
	background-color: $white;
}

/*____________TYPE______________*/

h1,
.subheadline_h1
h2,
h3,
h4,
h5,
p {
	color: $dark-warmgrey;
}

h1,
h2,
h3,
h4 {
	font-family: 'Nunito', sans-serif;
}

h1,
h2 {
	font-weight: 300;
}

h3,
h4,
h5,
.btn {
	font-weight: 400;
}

.light_text {
	color: $beige-grey_50;
}

h1 {
	font-size: $xl_fontsize;
	margin-top: 50px;
	margin-bottom: 40px;
	line-height: 1.4;
}

.subheadline_h1 {
	font-size: $md_fontsize;
	font-weight: 300;
	font-style: italic;
	margin-top: -40px;
	margin-bottom: 50px;
}

h2 {
	font-size: $lg_fontsize !important;
	margin-top: 40px;
	margin-bottom: 30px;
	line-height: 1.55;
}

h3 {
	font-size: $md_fontsize;
	margin-top: 30px;
	margin-bottom: 25px;
	line-height: 1.55;
}

h4 {
	font-size: $sm_fontsize;
	margin-top: 25px;
	margin-bottom: 20px;
}

h5 {
	line-height: 1.4;
	-webkit-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto; 
}

p {
	font-size: $standard_fontsize;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.55;
}

.one_third p,
.one_third li {
	-ms-hyphens: auto;
	    hyphens: auto;
	-webkit-hyphens: auto;
}

.footer_txt * {
	font-size: $xs_fontsize;
}

.footer * {
	font-weight: 200 !important;
}

.footer h1 {
	letter-spacing: 2px;
}


.subheadline_h1
h2,
h4,
.footer_txt * {
	line-height: 1.75;
}

.post-navigation {
  display: none; 
}

.edit-link,
.post-edit-link {
	display: none !important;
}

/*_______________UTILITIES________________*/

.padding-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.margin-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.flush-top {
	margin-top: 0 !important;
}

.flush-bottom {
	margin-bottom: 0 !important;
}

.flush {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}


/*_______________Overflow Fix, Adminbar ...________________*/

html, body {
  overflow-x: hidden !important; 
} 

@media (max-width: 991px ) {
	#wpadminbar {
		display: none !important;
	}

	.logged-in {
    margin-top: -32px !important; 
  }
}

@media (max-width: 782px) {
	.logged-in {
	    margin-top: -46px !important; 
	  }
}

/*_______________ No hover on mobile ________________*/

@media (max-width: 991px) {
	*:hover { 
    -webkit-box-shadow: none !important; 
            box-shadow: none !important;
	}
}





