/*footer*/

#wrapper-footer-full {
	background-color: $light-grey_20;
	padding-top: 0 !important; 
	padding-bottom: 0 !important;
}

.footer {
	padding-bottom: 0;
	background-color: $dark-warmgrey;
}

.footer-widget {
	margin-left: auto;
	margin-right: auto;
}

.footer .row:last-child {
	padding-bottom: 10px;
}

footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.footer h1 {
	color: $white;
	text-transform: uppercase;
	padding-top: 30px;
	font-weight: 200 !important;
}

.footer a {
	color: $light-green;
}

.footer_txt i {
	padding-right: 15px;
	font-size: 18px;
	line-height: 0.5;
}

.footer_xs_section .light_text p:nth-child(2) {
	margin-top: 20px ;
}


.footer_copyright {
	padding-top: 90px;
}

.footer_copyright *:not(:last-child) {
	padding-right: 30px;
}

.footer_copyright >.footer_xs_section {
	padding-left: initial;
}


.footer_copyright div >a:last-of-type {
	float: right;
	margin-top: 0px;
}

.nl_subscription_link,
.feedback_form_link {
  display: block
}

@media (min-width: 768px) {

	.footer {
		padding-bottom: 20px; 
	}

}

/*_________RESPONSIVE__________*/

@media (max-width: 991px) {

	.footer_copyright {
		padding-top: 40px; 
	}

	.footer_copyright_bottom >a:last-child {
		text-align: left;
		padding-left: 0px;
		float: none !important;
		display: block;
	}

	.footer_xs_section,
	.nl_feedback_links {
		margin-top: 20px;
	}

}

@media (max-width: 767px) {

	.footer * {
		text-align: center !important;
		line-height: 1.75;
	}

	.footer .row:last-child {
		padding-bottom: 0;
	}

 	 .footer_xs_secton p.light_text {
 	 	margin-bottom: 30px !important;
 	 }

 	.footer_xs_section > ul *,
 	.footer_copyright > .footer_xs_section *,
 	.nl_subscription_link,
	.feedback_form_link {
 		line-height: 2.5;
 	}

 	.footer_xs_section {
		margin-top: 30px !important;
	}


	.footer_copyright * {
		display: block;
		padding: 0 !important;
	}

	.footer_copyright {
		padding-top: 0;
	}

	.footer_txt i {
		padding-right: 20px !important;
		padding-left: 20px !important;
		font-size: 28px;
	}

	.footer_txt i:before {
		display: inline-block;
    position: relative;
    top: 3px;
	}

	.footer_txt .hidden-md-up {
		line-height: 3;
	}

	.footer_copyright_bottom ul,
	.footer_copyright_bottom ul li {
		display: inline-block;
	}

	.footer >.container-fluid {
		padding-bottom: 90px !important;
	}

	.footer_copyright_bottom >a:last-child {
		margin-bottom: 40px;
	}

}

@media (max-width: 575px) {
	.footer_copyright_bottom >a:last-child {
		margin-bottom: 90px;
	}
}



