
.page-id-2 .page-header-img {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 60px;
}

.page-id-2 h3 {
  color: $intense-green; 
}

.page-id-2 .persp_headline_termine h1:last-child {
  display: none;
}

