/*navbar*/

#wrapper-navbar .navbar > .container {
 	padding-top: 15px; 
 	padding-bottom: 15px;
 	font-size: 17px;
 	font-family: 'Nunito', sans-serif;
}

.navbar-brand {
	width: 300px; 
	height: auto;
	padding: 0px;
	margin: 0px; 
}

.navbar-brand img {
	width: 220px; 
	height: auto;
}

.collapse.show {
	display: initial;
}

.collapse.in {
	display: block;
}


#wrapper-navbar .navbar >.container {
	width: 100%;
	max-width: 1360px;
	background-color: $white;
}

#wrapper-navbar .navbar {
	padding-top: 0;
	padding-bottom: 0;
}

#main-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbarNavDropdown {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

#main-menu .menu-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#main-menu>li:not(:last-child) {
	margin-right: 15px;
}

#main-menu li .nav-link {
	color: $medium-warmgrey;
	border-bottom: 2px solid transparent; 
}

#main-menu li .nav-link:after {
	display: none;
}


#main-menu .menu-item .dropdown-menu li a:hover,
#main-menu .menu-item > a:hover {
	color: $intense-green !important;
}

#main-menu >.menu-item > a:before {
	display: block;
	content: attr(title);
	font-weight: 400;
	height:1px;
	color: transparent;
	overflow: hidden;
	visibility: hidden;
}

#main-menu >.btn_main_nav > a:before {
	display: none;
}


#main-menu .dropdown-menu .current-menu-item {
	border-left: 2px solid $intense-green;
	color: $intense-green;
}


#main-menu .dropdown-menu .menu-item a.nav-link:hover {
	background-color: transparent;
}

#wrapper-navbar nav.navbar.navbar-toggleable-md.navbar-default {
	padding: 0 !important;
}


/*____________Media Q____________*/

@media (min-width: 992px) {

	#main-menu >.current-menu-parent >a,
	#main-menu >.menu-item.in.open >a {
		border-bottom: 2px solid $intense-green !important;
		color: $intense-green !important;
	}

	#main-menu .menu-item .dropdown-menu {
		border: none;
		background-color: $beige-grey_50;
		border-radius: 0 0 5px 5px;
		margin-top: 17px; 
	}

	#main-menu .menu-item .dropdown-menu:before {
	  content: "\f10d";
		width: 20px;
		height: 20px; 
		position: absolute;  
	  color: $beige-grey_50;
	  top: -30px;
    left: 20px;
    font-size: 40px;
	  font-family: Ionicons;
		}

}


@media (max-width: 991px) {

	.navbar-brand {
		margin-bottom: 15px;
	}

	button.navbar-toggler {
		float: right;
		margin-top: 4px;
	 }

	 #wrapper-navbar .navbar > .container {
	 	padding-bottom: 0;
	 }

	ul#main-menu {
	  -ms-flex-preferred-size: 100%;
	      flex-basis: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  div#navbarNavDropdown {
    border-top: 1px solid $ultra-light-warmgrey;
	} 

	span.navbar-toggler-icon:before {
    color: $medium-warmgrey;
    content: "\f20d";
    font-size: 30px;
    font-family: Ionicons;
	}

	@media (max-width: 991px) {
		span.navbar-toggler-icon:before {
    	font-size: 35px;
    }

    button.navbar-toggler {
      margin-top: 1px !important;
    }
	}

	#main-menu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	#main-menu >li >.nav-link {
		font-weight: 300;
    font-size: 25px;
	}

	#main-menu .menu-item {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		font-weight: 400;
	}

	#main-menu .dropdown-menu	 {
		border: none;
	}

	#main-menu >li {
		border-bottom: 2px solid transparent !important;
	}

	#main-menu>li:not(:last-child) {
		margin-right: 0px;
	}

	#main-menu > .current-menu-parent.menu-item.open > a,
	#main-menu > .menu-item.open > a {
		width: 100%;
		border-bottom: 2px solid $intense-green !important;
	}

	#main-menu .dropdown-menu .menu-item a.nav-link:hover {
		background-color: transparent !important;
	}

}

@media (max-width: 575px) {
	.navbar-brand {
		width: 70%;
		max-width: 300px; 
	}
}


